.wrapper {
    flex: 1 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;

    .body {
        width: 100%;
        max-width: 280px;
        margin: 0 auto;
        
        .title {
            font-weight: 700;
            font-size: 22px;
            line-height: 27px;
            text-align: center;
            letter-spacing: -0.04em;
        }
    }
}