.wrapper.load {

    .text,
    .before,
    .after {
        opacity: 0;
    }
}

.wrapper {
    position: relative;

    .before,
    .after,
    .text {
        transition: all .3s ease;
    }

    .text {
        span {
            display: block;
            text-align: center;
            font-weight: 300;
            font-size: 12px;
            line-height: 15px;
            letter-spacing: -0.04em;
        }
    }
}

.wrapper.button_def {
    padding: 15px 30px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    line-height: 100%;
    border-radius: 16px;
    overflow: hidden;
    transition: all .2s ease;
    font-weight: 700;

    .load {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 10;
    }

    .icon {
        display: none;
        line-height: 100%;
    }

    .before {
        margin-right: 10px;
        flex: 0 0 auto;
        line-height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .after {
        flex: 0 0 auto;
        margin-left: 10px;
        line-height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &:active {
        transform: scale(0.95);
    }

    &:disabled {
        pointer-events: none;
        touch-action: none;
        opacity: .5;
    }
}

.wrapper.button_icon {
    padding: 12px;
    border-radius: 16px;
    transition: all .2s ease;

    .text,
    .before,
    .after {
        display: none;
    }

    .icon {
        display: flex !important;
        align-items: center;
        justify-content: center;
    }

    &:active {
        transform: scale(0.95);
    }

    &:disabled {
        pointer-events: none;
        touch-action: none;
        opacity: .5;
    }
}

.wrapper.fill {
    width: 100%;
}

.wrapper.var_violet {
    background-color: var(--violet);
}

.wrapper.var_aqua {
    background-color: var(--aqua);
}

.wrapper.var_light_violet {
    background-color: var(--light_violet);
}