.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  .circle {
    border: 3px solid transparent;
    padding: 2px;
    border-radius: 50%;
    transition: border-color 150ms linear;
    display: flex;
    align-items: center;
    justify-content: center;

    &Inner {
      width: 30px;
      height: 30px;
      border-radius: 50%;
    }

    &.selected {
      border-color: #fff;
    }
  }
}