.wrapper {
    .item {
        border-radius: 14px;
        background-color: var(--light_violet);
        animation: skeleton 1.5s linear infinite;
        height: 213px;
    }
}

@keyframes skeleton {
    0% {
        opacity: 1;
    }
    50% {
        opacity: .5;
    }
    100% {
        opacity: 1;
    }
}