.wrapper {
    display: flex;
    margin-left: -5px;
    margin-right: -5px;

    .field {
        flex: 1 0 auto;
        margin: 0 5px;
    }

    .action {
        margin: 0 5px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}